@model DogsMvc.Models.Dog[]

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Create Your New Dog</h1>
    <input />
    <form method="post">
        <label>Dog Id(whole integer number)?</label>
        <input type="text" name="Id"/>

        <label>What is your dogs Name?</label>
        <input type="text" name="Name" />

        <label>What is your dogs Age?</label>
        <input type="text" name="Age" />

        <input type="submit" name="Age" />

    </form>
</body>
</html>