@model DogsMvc.Models.Dog[]

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
</head>
<body>
    <h1>All Current dogs</h1>
    <ul>
        @foreach (var dog in Model)
        {
            <li>@dog.Name</li>
        }
    </ul>
    <div><a href="dogs/create">Input new dog</a></div>
</body>
</html>